body {
    padding-top: 56px;
    color: black;
    background-color: #D0D0D0;
 }

.light-mode{
    background-color: rgb(167, 164, 164);
}
.navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
a:hover {
    text-decoration: none;
 }

.welcome-link{
    color:black;
 }


 table {
    border-collapse: collapse;
    width: 100%;
}

table.previous_form td {
    background-color: #a7a4a4;
    border: 1px solid #a7a4a4;
    width: 50%
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
    background-color: #343a40;
    color: white;
}

tr:nth-child(even) {
  background-color: #92a1a1;
}

tr:nth-child(odd) {
  background-color: grey;
}



 /* CSS styling for Dark-mode and light mode toggle */

i.toggler {
    color: white;
    float: right;
    font-size: 20px;
}

.dark-mode {
    background-color:#343a40;
}

.dark-mode i.toggler {
    color: grey;
}

.dark-mode .container {
    background-color: #343a40;
    color: white;
}


.dark-mode .welcome-link{
   color: darkgrey;
}

.dark-mode table.previous_form td {
    background-color: #343a40;
    border: 1px solid #343a40;
    width: 50%
}