{% extends "base.html" %}
{% set active_page = 'previous_submission' %}

{% block title %}Previous Submissions - {% endblock %}

{% block content %}
<div class="col-lg-10 offset-lg-2 my-5">

    <h1>Previously Written User Stories</h1><hr>
    </form> 
    <table class="previous_form">
        <tr>
                <form action="{{ url_for('previous_submissions') }}" method="GET">
                    <div class="form-group">
                        <td>{{ form.tool.label }}{{ form.tool(class="form-control") }}</td>            
                        <td>{{ form.work_role.label }}{{ form.work_role(class="form-control") }}</td>
                        <td>{{ form.submit(class="btn btn-primary form-control") }}</td>
                    </div>
                </form>     

        </tr>
    </table>
    <p style="color:blue"><em>Headings in blue are sortable</em>
    </p>

    {{table_html}}


</div>

{% endblock %}

